# OS files
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Netlify
.netlify/

# Environment files
.env
.env.local
.env.*.local

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
